*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.logo-name {
    font-family: 'Sacramento', cursive;
}
.nav-links
{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

.header h1{
    text-transform: uppercase;
    color: red;
    font-size: 80px;
    text-align: center;
    margin-top: 40px;

}
.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.position{
    
    padding-top: 2%;
    padding-left: 40%;
}

.form-template1{
    width: 340px;
    height: 390px;
    background-color:#fff;
    margin-top: 50px;
    margin: 28px;
}

.form-header-t1{
    width: 100%;
    height: 110px;
    background: linear-gradient(to right, rgb(255, 0, 76) , rgb(204, 0, 255));
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.form-header-t1 .social i {
    color: white;
    font-size: 20px;
    padding: 10px 10px;
    margin-top: 10px;
}

.form-container-t1{
    padding: 30px;
}

input[type='email'] {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px 0px;
    width: 100%;

}
input[type='password'] {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px 0px;
    width: 100%;

}
.form-container-t1 p{
    font-size: 14px;
    color: grey;
    padding: 20px  0px;
    text-align: right;
}
.form-container-t1 p b{
    color: black;
}

input[type='submit']{
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: grey;
   margin-top: 30px;
    padding: 10px 20px;
   color: white;
}
.form-container-t1 p#p2{
    display: inline-block;
    margin-left: 15px;
}










.vl{
    border-left: 1px solid #e85a48;
    height: 400px;
  }
@media screen and (max-width:992px) and (min-width:777px){
    .vl{
        height:280px;
    }
}
@media screen and (max-width:778px) and (min-width:591px){
    .vl{
        height:200px;
    }
}
@media screen and (max-width:592px) and (min-width:421px){
    .vl{
        height:170px;
    }
}

@media screen and (max-width:423px){
    .vl{
        height:120px;
    }
}

h4.other-login-op{
    text-align:center;
    padding-left: 5%;
    font-size: 18px;
    font-weight: 900;
    color:#5d5c61;

}
.social{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding-bottom: 20px;
    padding-left: 5%;
    
}